.statusCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    margin-top: 5px;
    width: 100px;
}

.statusCard > p {
    margin: 2px;
}

.deliveryBox,
.homeVisitBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.red {
    background-color: #EB674D;
}

.blue{
    background-color: #0D6EFD;
}

.green {
    background-color: #4EC14E;
}