.signInFormBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 680px;
}

.borderForm {
    width: auto;
    border: 1px solid #cdd3d9;
    border-radius: 10px;
    margin-bottom: 140px;
    padding: 25px;
}

.signInForm {
    width: 500px;

    display: flex;
    flex-direction: column;
}

.signInFormTitle {
    margin-bottom: 25px;
}

.signInFormBtn {
    width: 150px;
    height: 43px;
    align-self: end;
}