.contentContainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.slider {
    margin-top: 20px;
}

.aboutUs {
    margin-top: 20px;
}

.clientCardsArticle {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.cardGroup {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1500px;
}

.cardGroup > * {
    margin-top: 20px;
}

.space {
    height: 250px;
}

.formSection {
    margin: 0 auto;
}