.contentContainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/*.contentContainer > * {*/
/*    box-shadow: black;*/
/*}*/

.slider {
    margin-top: 20px;
}

.aboutUs {
    margin-top: 20px;
}

.clientCardsArticle {
    margin-top: 20px;
    text-align: center;
}

.cardGroup {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1500px;
}

.cardGroup > * {
    margin-top: 20px;
}

.clientForm {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
}